.navbar {
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between to position children correctly */
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #1b1b1b; /* Dark background color */
    border-top: 3px solid; /* Border on top */
    border-image-source: linear-gradient(to right, #00ff94, #00dfff, #e361ff);
    border-image-slice: 1;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between children */
    width: 100%;
}

.desktopmenu {
    display: flex;
    gap: 1rem;
    margin: 0 auto; /* Center the menu */
}

.desktopMenuListItem {
    margin: 0 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none; /* Remove underline */
    position: relative; /* Needed for ::after positioning */
    transition: color 0.3s ease; /* Smooth color transition */
}

.desktopMenuListItem::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -2px; /* Position it slightly below the text */
    left: 50%;
    background-color: aquamarine;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.desktopMenuListItem:hover {
    color: aquamarine;
}

.desktopMenuListItem:hover::after {
    width: 100%;
}


.desktopMenubtn {
    background: none;
    border: 2px solid aquamarine; /* Add border to the button */
    color: aquamarine; /* Set initial text color */
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem; /* Add padding to the button */
    transition: all 0.3s ease; /* Add transition for smooth effect */
    position: relative;
    overflow: hidden; /* Ensure pseudo-element stays within the button */
    border-radius: 5px; /* Optional: add rounded corners */
}

.desktopMenubtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    transition: all 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1; /* Place it behind the button text */
}

.desktopMenubtn:hover::before {
    transform: scaleX(1);
}

.desktopMenubtn:hover {
    color: #1b1b1b; /* Change text color on hover */
}
