/* Existing styles */

.nav-background {
    height: 0px;
}

.navbar {
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    opacity: 100%;
    border-top: 3px solid;
    border-image-source: linear-gradient(to right, #00ff94, #00dfff, #e361ff);
    border-image-slice: 1;
    transition: background-color 0.3s ease;
}

.navbar-scrolled {
    background-color: black !important;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.name {
    color: aquamarine;
    font-size: 1.5rem;
    align-items: left;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.desktopmenu {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}

.desktopMenuListItem {
    margin: 0 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

.desktopMenuListItem::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -2px;
    left: 50%;
    background-color: aquamarine;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.desktopMenuListItem:hover {
    color: aquamarine;
}

.desktopMenuListItem:hover::after {
    width: 100%;
}

.dropdown-toggle {
    display: none;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 2rem;
    background-color: #000117;
    border: 1px solid #00dfff;
    border-radius: 5px;
    z-index: 2;
}

.dropdown-menu a {
    padding: 1rem;
    text-decoration: none;
    color: white;
    display: block;
    text-align: right;
}

.dropdown-menu a:hover {
    background-color: #00dfff;
}

@media (max-width: 1366px) {
    .desktopmenu {
        display: none;
    }

    .dropdown-toggle {
        display: block;
    }

    .name {
        font-size: 1rem;
    }

    .dropdown-menu.show {
        display: flex;
    }
}

