.projects-heading h1 {
    position: absolute;
    font-size: 5rem;
    background-color: #000117;
    padding: 0 10px;
    z-index: 5;
}

.projects-heading hr {
    width: 80%;
    height: 4px;
    background: linear-gradient(to right, #009f70, #00bfcf);
    border: none;
}