.projects {
    padding-bottom: 8.5rem;
}
.f1-project{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-left: 1rem;
    padding-bottom: 3rem;
}

.f1-container{
    padding-left: 4rem;
    width: 50%;
}

.f1-info{
    padding-bottom: 2rem;
}

.f1-info h2{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.link{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.personal-website{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-right: 1rem;
}

.personal-container{
    padding-right: 4rem;
    width: 50%;
}

.personal-info{
    padding-bottom: 2rem;
}

.personal-info h2{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: 3rem;
}
