.skills {
    padding-top: 200px;
    text-align: center; /* Center align the text within the section */
}

.skills-heading {
    position: relative;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center align the heading */
}

.skills-heading h1 {
    position: absolute;
    font-size: 5rem;
    background-color: #000117;
    padding: 0 10px; /* Add some padding to create spacing around the text */
    z-index: 2;
}

.skills-heading hr {
    width: 80%;
    height: 4px;
    background: linear-gradient(to right, #009f70, #00bfcf);
    border: none; /* Remove default border */
}

.skills-heading .x-left {
    left: 0;
}

.skills-heading .x-right {
    right: 0;
}

.skills-header, .frontend, .databases, .web, .tools {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    padding-bottom: 25px;
}

.image-grid img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    object-fit: cover;
    border-radius: 10px; /* Add border-radius if you want rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease; /* Add transition for hover effect */
}

.image-grid img:hover {
    transform: scale(1.1); /* Slightly enlarge image on hover */
}
