.skills {
    padding-top: 8.5rem;
    text-align: center; 
    padding-bottom: 8.5rem;
}

.skills-heading {
    position: relative;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-heading h1 {
    position: absolute;
    font-size: 5rem;
    background-color: #000117;
    padding: 0 10px; 
    z-index: 2;
}

.skills-heading hr {
    width: 80%;
    height: 4px;
    background: linear-gradient(to right, #009f70, #00bfcf);
    border: none;
}

.skills-heading .x-left {
    left: 0;
}

.skills-heading .x-right {
    right: 0;
}

.skills-header, .frontend, .databases, .web, .tools {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    padding-bottom: 25px;
}

.image-grid img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.image-grid img:hover {
    transform: scale(1.1); 
}
